#nprogress .bar {
  background: linear-gradient(45deg, #2196f3 30%, #21cbf3 90%);
  height: 5px;
}

#nprogress .peg {
  box-shadow: 0 3px 5px 2px rgba(33, 203, 243, 0.3);
}

#nprogress .spinner-icon {
  border-top-color: var(--primary-color);
  border-left-color: var(--primary-color);
}
