:root {
  --scroll-thumb-color: #0000009c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.controls {
  box-sizing: border-box;
  padding: 15px;
  position: absolute;
  bottom: 0px;
  width: inherit;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.705); */
}

.controls:hover {
  opacity: 1;
}

button {
  background-color: none;
  border: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.webfullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000000;
  top: 0px;
  left: 0px;
}

.player {
  height: 40vh;
  margin: 0 auto; 
  width: 60%;
}

.banner {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

.titlebar {
  position: fixed;
  top: 0px;
}

.anime-title {
  text-align: center;
  font-size: 46px;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin-bottom: 0;
  margin-top: 0;
}

.anime-episode {
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin-bottom: 0;
  margin-top: 0;
}

.title-container {

}

.video-time {
  text-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin: 0;
  display: inline-block;
}

.favourite-icon {
  transition: opacity 300ms ease-in-out;
}


.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.playBtn:hover {
  opacity: 1;
}

.titlebar-icon {
  margin-left: 16px;
  margin-top: 4px;
  width: 20px;
  height: 20px;
}