:root {
  --scroll-thumb-color: #bdbdbd;
}
/* @import url("https://rsms.me/inter/inter.css");
* {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 65px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 65px;
}

.controls {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  width: inherit;
  opacity: 0;
  transition: all 300ms ease-in-out;
  color: white;
  height: inherit;
}

.controls-bot-container {
  width: 100%;
  height: inherit;
  position: relative;
}

.controls-bot {
  position: absolute;
  bottom: 0px;
  width: inherit;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  /* backdrop-filter: blur(2px); */
}

.mpv-player {
  width: 100%;
  height: inherit;
  position: relative;
}

.controls:hover {
  opacity: 1;
}

button {
  background-color: none;
  border: none;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.volume-slider {
  width: 70px;
  padding-top: 4px;
  margin-right: 20px;
  margin-left: 10px;
}

.webfullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000000;
  top: 0px;
  left: 0px;
}

.player {
  height: inherit;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
}

.banner {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -3;
  object-fit: cover;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -2;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
  width: 0px
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

.titlebar {
  position: fixed;
  top: 0px;
}

.anime-title {
  text-align: center;
  font-size: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
  margin-top: 0;
  z-index: 3;
}

.anime-episode {
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
  margin-top: 0;
}

.title-container {
  z-index: 3;
}

.video-time {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 0;
  display: inline-block;
  font-size: 12px;
}

.favourite-icon {
  transition: opacity 300ms ease-in-out;
}

.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.playBtn:hover {
  opacity: 1;
}

.titlebar-icon {
  margin-left: 16px;
  margin-top: 4px;
  width: 20px;
  height: 20px;
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#nprogress .bar {
  background: #11cb5f;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #11cb5f, 0 0 5px #11cb5f;
}

#nprogress .spinner-icon {
  border-top-color: #11cb5f;
  border-left-color: #11cb5f;
  display: none;
}

.MuiFilledInput-root {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ui-video-seek-slider {
  position: relative;
}
.ui-video-seek-slider:focus {
  outline: none;
}
.ui-video-seek-slider .track {
  padding: 10px 0;
  cursor: pointer;
  outline: none;
}
.ui-video-seek-slider .track:focus {
  border: 0;
  outline: none;
}
.ui-video-seek-slider .track .main {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 8.5px;
  overflow: hidden;
  transition: transform 0.4s;
  outline: none;
}
.ui-video-seek-slider .track .main:focus {
  border: 0;
  outline: none;
}
.ui-video-seek-slider .track .main .buffered {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  transform: scaleX(0.8);
  z-index: 2;
  transform-origin: 0 0;
  transition: 0.5s transform;
}
.ui-video-seek-slider .track .main .seek-hover {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scaleX(0.6);
  transform-origin: 0 0;
  opacity: 0;
  transition: opacity 0.4s;
}
.ui-video-seek-slider .track .main .connect {
  position: absolute;
  background-color: #11cb5f;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  transform: scaleX(0.13);
  transform-origin: 0 0;
}
.ui-video-seek-slider .track.active .main {
  transform: scaleY(2);
}
.ui-video-seek-slider .thumb {
  pointer-events: none;
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  top: 4px;
  z-index: 4;
  transform: translateX(100px);
}
.ui-video-seek-slider .thumb .handler {
  transition: transform 0.2s;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-color: #11cb5f;
  opacity: 0;
  transform: scale(0.4);
}
.ui-video-seek-slider .thumb.active .handler {
  opacity: 1;
  transform: scale(1);
}
.ui-video-seek-slider .hover-time {
  position: absolute;
  background-color: rgb(0, 0, 0);
  line-height: 18px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  top: -25px;
  left: 0;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateX(150px);
  pointer-events: none;
}
.ui-video-seek-slider .hover-time.active {
  opacity: 1;
}
.ui-video-seek-slider:hover .track .main .seek-hover {
  opacity: 1;
}
